.App {
  text-align: center;
}

.App-welcome {
  background-color: #660D0D;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.App-navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #660D0D;
  padding: 0.5vh
}

.App-navbar img {
  height: 6vh;
}

.App-burgerMenu { height: 8vh;}

.App-logo {
    transition:1s;
}

.App-logo:hover{
  transform:scale(1.3)
}

.App-icon {
  transition:1s;
  height: 1vh;
  }

.App-button {
  height: 6vh;
  display: inline-block;
  border-radius: 50%;  
  background: transparent;
  border-color: transparent;
  /* padding-top: 20vh; */
  /* margin-top: 20vh; */
}

.App-button img {
  border-radius: 50%;
  height: 6vh;
}

.App-icon:hover{
transform:scale(1.1)
}

.App-bookInQuestion {
  background-color: #660D0D;
  height: 50vh;
  width: 15vw;
  color: aliceblue;
  border-radius: 25px;
  margin: auto;
  margin-top: 20vh;
  align-items: center;
  display: flex;
  justify-content: center; 
  display: inline-block;
}

.App-mainHomeSection {
  background-color: #C6AB65;
  height: 92vh;
  width: 100vw;
  }

.App-home { 
  align-items: center;
  justify-content: center; 
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
