.App {
  text-align: center;
}

.App-welcome {
  background-color: #660D0D;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.App-navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #660D0D;
}

.App-navbar img {
  height: 8vh;
}

.App-burgerMenu { height: 8vh;}

.App-logo {
    transition:1s;
}

.App-logo:hover{
  transform:scale(1.3)
}

.App-bookInQuestion {
  background-color: #660D0D;
  padding-top: 20%;
  width: 30vw;
  /* margin-top: 2%; */
  color: aliceblue;border-radius: 25px;
  margin: auto;
  padding-top: 50vh;
}

.App-mainHomeSection {
  background-color: #C6AB65;
  height: 92vh;
  width: 100vw;
  }

.App-home { 
  align-items: center;
  justify-content: center; 
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
